.App {
 width: 70%;
 height: 100vh;
 text-align: center;
 margin:auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.analysisContainer{
    display: flex;
    justify-content: space-between;
}
.chart{
    width: 80%;
}
.monthlyResults{
    width: 20%;
}